html body
{
margin-left: 15px;
margin-right: 15px;
}
.header
{
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
}
.safari
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear: left;
    color: rgb(255, 255, 255);
    font-weight: 100px;
    margin-left: 20px;
    display: inline-block;
}
#safari1
{
    color: rgb(253, 155, 8);
    font-family: 'Times New Roman', Times, serif;  
    font-size: 16px;
    padding-top: 4px;
    margin-bottom: 3px;
    margin-top: 5px;
}
#image
{
    margin-left: 150px;
}
.image
{
    background-color: rgb(169, 169, 169);
    margin-left: 130px;
    border-radius: 5px;
    margin-right: 90px;
}
.content
{
    float: right;
    text-transform: capitalize;
    border-radius: 5px;
    display: inline-block;
}
.content ul li 
{
    display: inline-block;
}
.content ul li a
{
    padding-top: 0px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}
.content ul li a.active
{
    color: rgb(233, 116, 6);
}
.content ul li a:hover
{
    color: rgb(0, 0, 0);
    background-color: rgb(162, 158, 156);
    border-radius: 8px;
    padding: 5px;
}
#reserve
{
    float: right;
    display: inline-block;
    padding-top: 0px;
    text-transform: capitalize;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;   
}
.home
{
    margin-left: 15px;
    float: left;
    clear: left;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 1em;
}
p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 350;
    text-underline-position: below;
        margin-bottom: 2px;
        margin-top: 10px;
    }
}
h2
{
    font-family: arial roun Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    font-weight: 350;
    text-underline-position: below;
}
.article
{
    background-color: rgb(204, 123, 109);
    float: right;
    display: inline-block;
    clear: right;
    margin-right: 15px;
    border-radius: 5px;
}
.article article .top
{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-row-gap: 0.1em;
}
#visited
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    border-radius: 5px;
}
.top
{
     background-color: rgb(157, 155, 155);
       height: 65px;
       border-radius: 5px;
       margin-top: 0px;
       padding: 0px;
    text-align: center;
    margin-right: auto;
}
.footer p &copy
{
    color: pink;
}
.article section
{
    float: right;
    width: 170px;
    height: 100%;
    clear: right;
}
.article section h4
{
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    display: inline-block;
    clear: right;
    margin: 0% 5px;
    border-radius: 1px;
    padding: 0% 0%;
}
.article section p
{
    padding: 0% 0%;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: right;
    display: inline-block;
    clear: right;
    margin-left: 5px;
    border-radius: 1px;
}
.article aside
{
    float: left;
    clear: left;
    width: 100px;
    height: 300px;
}
.footer
{
    text-align: center;
    background-color: blank;
    float: inline-end;
    clear: both;
    height: 80px;
}
.footer p 
{
    color: white;
    background-color: rgb(0, 0, 0);
}
/*#home1
{
    margin-right: 200px;
}
*/
hr
{
    color: rgb(231, 97, 7);
}
main
{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 70% 30%;
}
#right
{
    margin: 5px;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
    height: auto;
    float: left;
    clear: left;
    margin-right: 300px;
}
#right img
{
 float: left;
 clear: left;   
}
#right p
{
    margin-left: 111px;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 2px;
}
.Article
{
    background-color: rgb(204, 123, 109);
    float: right;
    clear: right;
    border-radius: 5px;
    width: 250px;
    margin-left: 150px;
    margin-right: auto;
    height: 470px;
}
#right h4
{
    margin-bottom: 1px;
}
.info
{
    padding: 4px;
    border-radius: 10px;
    border-color: grey;
    margin: 14px;
    background-color: rgb(220, 217, 217);
}
.info h5
{
    margin: 0px;
}
.info p
{
    margin: 0px;
    font-size: 13px;
}
#Top h3
{
    margin-top: 0px;
    padding-top: 8px;
}
.reserve
{
    display: grid;
    grid-template-columns: 80% 20%;
}
.ARticle
{
    float: right;
    clear: right;
    background-color: rgb(176, 193, 201);
    height: auto;
    width: 270px;
    margin-left: 0px;
    margin-right: 40px;
}
#artop
{
    background-color: grey;
}
#artop h4
{
    padding: 5px;
    margin: 0px;
}
.para
{
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
}
.para h5
{
    padding: 2px;
    margin: 2px;
    color: rgb(230, 99, 13);
}
.para p
{
    padding: 5px;
    margin: 10px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}
.asidi
{
    float: right;
    clear: right;

}
.back
{
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgb(194, 192, 192);
    margin: 10px;
    border-radius: 5px;
    width: 700px;
    height: auto;
}
.state
{
    background-color: white;
    font-size: 12px;
    margin-right: 60px;
    margin: 2px 20px 2px 5px;
    padding: 10px;
}
.back img
{
    float: left;
    clear: left;
    margin: 1px 5px;
}
.state p
{
    font-family: cursive;
    margin-right: 20px;
}